<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qg.www.dao.AwardInfoDao">
    <resultMap id="BaseResultMap" type="com.qg.www.models.AwardInfo">
        <id column="award_id" jdbcType="INTEGER" property="awardId"/>
        <result column="award_name" jdbcType="VARCHAR" property="awardName"/>
        <result column="award_time" jdbcType="VARCHAR" property="awardTime"/>
        <result column="award_partment" jdbcType="VARCHAR" property="department"/>
        <result column="award_level" jdbcType="VARCHAR" property="awardLevel"/>
        <result column="lead_teacher" jdbcType="VARCHAR" property="leadTeacher"/>
        <result column="join_student" jdbcType="VARCHAR" property="joinStudent"/>
        <result column="description" jdbcType="VARCHAR" property="awardDescription"/>
        <result column="rank" jdbcType="VARCHAR" property="rank"/>
        <result column="url" jdbcType="VARCHAR" property="url"/>
    </resultMap>
    <select id="queryAwardInfo" resultMap="BaseResultMap">
        SELECT * from awardinfo;
    </select>
    <insert id="addAwardInfo" useGeneratedKeys="true">
        INSERT into awardinfo (award_name,award_time,award_partment,award_level,lead_teacher,join_student,description,rank)VALUES
         ('${awardName}','${awardTime}','${department}','${awardLevel}','${leadTeacher}','${joinStudent}','${awardDescription}','${rank}');
    </insert>
    <select id="queryAppointedAwardInfo" resultMap="BaseResultMap">
        <choose>
            <when test="(awardTime != null and awardTime != '') and (awardLevel == null or awardLevel == '') and (rank == null or rank == '')">
                SELECT award_id,award_name,award_time,join_student,url FROM awardinfo WHERE award_time = '${awardTime}';
            </when>
            <when test="(awardTime == null or awardTime == '') and (awardLevel != null and awardLevel != '') and (rank == null or rank == '')">
                SELECT award_id,award_name,award_time,join_student,url FROM awardinfo WHERE award_level = '${awardLevel}';
            </when>
            <when test="(awardTime == null or awardTime == '') and (awardLevel == null or awardLevel == '') and (rank != null and rank != '')">
                SELECT award_id,award_name,award_time,join_student,url FROM awardinfo WHERE rank = '${rank}';
            </when>
            <when test="(awardTime != null and awardTime != '') and (awardLevel != null and awardLevel != '') and (rank == null or rank == '')">
                SELECT award_id,award_name,award_time,join_student,url FROM awardinfo WHERE award_time = '${awardTime}' AND award_level = '${awardLevel}';
            </when>
            <when test="(awardTime != null and awardTime != '') and (awardLevel == null or awardLevel == '') and (rank != null and rank != '')">
                SELECT award_id,award_name,award_time,join_student,url FROM awardinfo WHERE award_time = '${awardTime}' AND rank = '${rank}';
            </when>
            <when test="(awardTime == null or awardTime == '') and (awardLevel != null and awardLevel != '') and (rank != null and rank != '')">
                SELECT award_id,award_name,award_time,join_student,url FROM awardinfo WHERE award_level = '${awardLevel}' AND rank = '${rank}';
            </when>
            <when test="(awardTime == null or awardTime == '') and (awardLevel == null or awardLevel == '') and (rank == null or rank == '')">
                SELECT award_id,award_name,award_time,join_student,url FROM awardinfo;
            </when>
            <otherwise>
                SELECT award_id,award_name,award_time,join_student,url FROM awardinfo WHERE award_time = '${awardTime}' AND award_level = '${awardLevel}' AND rank = '${rank}';
            </otherwise>
        </choose>
    </select>
    <select id="getAwardInfoById" resultMap="BaseResultMap">
        SELECT * FROM awardinfo WHERE award_id = ${awardId};
    </select>
    <select id="queryAwardInfoByName" resultMap="BaseResultMap">
        SELECT award_id,award_name,award_time,join_student,url FROM awardinfo
        <where>
            <if test="name != null and name != ''">
                and award_name like concat('%','${name}','%');
            </if>
        </where>
    </select>
</mapper>
