<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qg.www.dao.UserInfoDao">
    <resultMap id="iBaseResultMap" type="com.qg.www.models.UserInfo">
        <id column="userinfo_id" jdbcType="INTEGER" property="userInfoId"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="qggroup" jdbcType="VARCHAR" property="group"/>
        <result column="college" jdbcType="VARCHAR" property="college"/>
        <result column="grade" jdbcType="VARCHAR" property="grade"/>
        <result column="tel" jdbcType="VARCHAR" property="tel"/>
        <result column="birthplace" jdbcType="VARCHAR" property="birthplace"/>
        <result column="qq" jdbcType="VARCHAR" property="qq"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="url" jdbcType="VARCHAR" property="url"/>
    </resultMap>
    <select id="queryUserInfo" resultMap="iBaseResultMap">
        SELECT * from userinfo;
    </select>
    <insert id="addUserInfo" useGeneratedKeys="true">
        INSERT into userinfo (name,qggroup,college,grade,tel,birthplace,qq,email,description)VALUES ('${name}','${group}','${college}','${grade}','${tel}','${birthplace}','${qq}','${email}','${description}');
    </insert>
    <select id="queryAppointedUserInfo" resultMap="iBaseResultMap">
        SELECT userinfo_id,grade,url FROM userinfo WHERE qggroup = '${group}' AND grade = '${grade}';
    </select>
    <select id="getUserInfoById" resultMap="iBaseResultMap">
        SELECT * FROM userinfo WHERE userinfo_id = ${userInfoId};
    </select>
    <update id="addUserInfoPicture">
        UPDATE userinfo SET url='${pictureName}' WHERE userinfo_id=${userInfoId};
    </update>
</mapper>
