<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qg.www.dao.UserDao">
<resultMap id="BaseResultMap" type="com.qg.www.models.User">
        <id column="ID" jdbcType="INTEGER" property="userId"/>
        <result column="username" jdbcType="VARCHAR" property="userName"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="privilege" jdbcType="INTEGER" property="privilege"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
    </resultMap>

    <select id="isExist" resultType="com.qg.www.models.User">
        SELECT * FROM user WHERE username = '${userName}';
    </select>

    <insert id="register">
        INSERT into user (username, password, name, status, privilege) VALUES ('${data.userName}', '${data.password}', '${data.name}', 0, 1);
    </insert>

    <select id="login" resultType="com.qg.www.models.User">
        SELECT * FROM user WHERE username = #{userName} AND password = #{password} ;
    </select>

    <update id="review">
        UPDATE user SET status = #{passOrNot} WHERE username = #{userName};
    </update>

    <select id="getPrivilegeById">
        SELECT privilege FROM user WHERE user_id = #{userId};
    </select>
    <delete id="deleteUserByUserName">
        DELETE FROM user WHERE username=#{userName};
    </delete>

</mapper>
